@model GreenslateChallenge.Models.UsersViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css">

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/js/UserInformation.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>

    </br>

    <center>
        <select id="dropdownUsers">
            <option value="0">--</option>
            @{
                int counter = 0;
                foreach (var item in Model.FirstNames)
                {
                    <option user_id=@Model.Ids[counter]>@item</option>
                    counter++;
                }
            }
        </select>
    </center>

    </br>

    <table id="projects_table" class="table" border='1'>
        <thead class="thead-dark">
            <tr>
                <th>Project Id</th>
                <th>Start Date</th>
                <th>Time to start</th>
                <th>End Date</th>
                <th>Credits</th>
                <th>Status</th>
            </tr>
        </thead>
        <tr>
            <td id="project_id_column"></td>
            <td id="start_date_column"></td>
            <td id="time_to_start_column"></td>
            <td id="end_date_column"></td>
            <td id="credits_column"></td>
            <td id="status_column"></td>
        </tr>
    </table>

</body>
</html>
